# Ushbu faylni .env nomiga o'zgartiring va o'z qiymatlaringizni kiriting.
BOT_TOKEN=8559867257:AAFLaqVNEgECfE5ka4jOcvSlPaKrReg1V4o
SUPER_ADMIN_ID=7861165622
BOT_USERNAME=Nazoratchi_uzbekrobot
DB_PATH=nazoratchi.db
